<div class="text_fields">
    <div class="row">
        <div class="input-field col s12">
            <%= f.label :description, 'Descripción *', class: 'active' %>
            <%= f.text_field :description, placeholder: 'Ingrese una pequeña descripción', class: 'validate' %>
        </div>
    </div>
</div>
