<h3 align="center">Documentos</h3>

<% if current_user.estudiante? %>
  <%= render partial: 'student_options', object: @papers_by_user %>
<%end%>

<% if current_user.professor_role? || current_user.admin_role? %>
  <%= render partial: 'admin_options', object: @papers %>
<% elsif current_user.docente? %>
  <%= render partial: 'professors_options', object: @papers %>
<% elsif current_user.director? %>
  <%= render partial: 'director_options', object: @papers %>
<% end %>