<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html">
    <style type="text/css" media="screen">
        .mensaje {text-align: justify; }
        .confidencialidad {
          text-transform: uppercase;
          color: red;
        }
      </style>
  </head>
  <body>
    <h1>Asignación de tribunal</h1>

    <p class="mensaje">
      Hola, <br>
      Has sido asignado como miembro del tribunal <br>
      del siguiente documento de la Universidad Católica Boliviana "San Pablo" Regional Cochabamba.
    </p>

    <p class="mensaje">
      <strong>Tema: </strong> <%= @paper.title %> <br>
      <strong>Estudiante: </strong> <%= @paper.user.complete_name %> <br><br>

      Por favor revise estos datos en el sistema. <br><br>

      Sistema de Revisión y Evaluación de Documentos Académicos.
      <%= link_to 'Haga clic aquí', event_papers_url(@event) %> <br><br>

      <%= image_tag(attachments['ucb_valores.png'].url, :size=>"200x80") %> <br><br>

      <strong class="confidencialidad">nota</strong><br><br>
      Si usted recibió el mensaje por error, por favor contáctese con la persona que se lo envió.
      O aproxímese por las instalaciones de la Universidad Católica Boliviana "San Pablo" Unidad Académica Cochabamba. <br>
      Calle M. Marquez esquina Parque Jorge Trigo Andia <br>
      Cochabamba - Campus Tupuraya
    </p>
    
  </body>
</html>>

