body {
    margin-left: 50px;
    margin-right: 50px;
}
.defensa {
    text-align: center;
    text-decoration: underline;
}
.centro { 
    text-align: center; 
    padding-left: 120px;
    line-height: 2em;
    text-transform: uppercase;
}
.parrafo { 
    text-align: justify; 
    line-height: 1.5em; 
    font-family: 'Times New Roman', Times, serif; }
.firma { height: 120px; }
.est td { 
    text-align: center; 
    padding-left: 300px; }
.trib td { 
    text-align: center;
    padding-left: 100px;
}