<div class="row flex">
    <div class="col s2 fr"><strong>Evento:</strong></div>
    <div class="col s10 fr"><%= @event.name %></div>
    <div class="col s2 sr"><strong>Documento:</strong></div>
    <div class="col s10 sr"><%= @paper.title %></div>
    <div class="col s2 fr"><strong>Autor:</strong></div>
    <div class="col s10 fr"><%= @paper.user.complete_name %></div>
</div>