<nav class="nav-cato">
        <div class="container">
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#!" class="dropdown-trigger" data-target="dropdown1">
                            <%= current_user.name %> <%= current_user.lastname %>
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                </ul>
                <!--a href="/" class="brand-logo right">Logo</a-->
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/events">Eventos</a></li>
                    <li><a href="/my_documents">Mis Documentos</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <ul id="dropdown1" class="dropdown-content">
    <li>
        <%= link_to 'Modificar mis datos', edit_user_registration_path %>
    </li>
    <li><a href="/users/change_password">Cambiar contraseña</a></li>
    <li class="divider"></li>
    <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
            Salir
            <i class="material-icons right">directions_run</i>
        <% end %>
      </li>
  </ul>